{# templates/reset_password/request.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <section id="request" class="container">
        <h1 class="h3">Mot de passe oublié</h1>

        <div id="requestForm">
            {% for flashError in app.flashes('reset_password_error') %}
                <div class="row">
                    <div class="col-12 col-md-6 mx-md-auto">
                        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                    </div>
                </div>
            {% endfor %}

            {{ form_start(form) }}
                <div class="form-group">
                    {{ form_row(form.username) }}
                    <small id="emailHelp" class="form-text text-muted mt-3">
                        Renseignez le nom d'utilisateur de votre compte.<br>
                        Un email vous sera envoyé pour réinitialiser votre mot de passe.
                    </small>
                </div>

                <div class="form-group">
                    <button class="btn btn-theme bg-theme">J'ai oublié mon mot de passe</button>
                </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}