#login { text-align: center; height: calc(100vh - 56px); display: -ms-flexbox; display: flex; flex-direction: column; justify-content: center; }
#loginForm { margin: 50px 0; }
#loginForm form .form-check input + label { cursor: pointer; }
#inputRememberMe { border: 1px solid #ced4da; border-radius: 4px; transition: background-color 200ms ease-in-out, border-color 200ms ease-in-out, box-shadow 200ms ease-in-out; }
#inputRememberMe:focus { box-shadow: 0 0 0 .2rem var(--theme-color-alpha); }
#inputRememberMe:checked, #inputRememberMe:hover { border-color: var(--theme-color); }