:root {
    --theme-color: #014cb1;
    --theme-color-light: #25a5e4;
    --theme-color-alpha: rgba(1, 76, 177, 0.25);
    --transition-duration: 250ms;
}
/*::selection { color: white; background-color: var(--theme-color); }*/
html { position: relative; height: 100%; }
body { background-color: #f5f5f5; font-family: 'Roboto', sans-serif; height: 100%; display: flex; flex-direction: column; }
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 { font-family: 'Oswald', sans-serif; }
h1,.h1 { margin: 30px 0; color: var(--theme-color); }
a { color: black; transition: color var(--transition-duration); }
a:hover { color: var(--theme-color); text-decoration: none; }
.btn-theme { color: white; background-color: var(--theme-color); border-color: var(--theme-color); }
.btn-theme:hover { color: white; box-shadow: 0 0 0 .2rem var(--theme-color-alpha); }
.btn, form .form-control { border-radius: 0; }
.btn.bg-theme { border: none; }
.bg-theme {
    background: var(--theme-color-light);
    background: -moz-linear-gradient(left, var(--theme-color-light) 0%, var(--theme-color) 100%);
    background: -webkit-linear-gradient(left, var(--theme-color-light) 0%, var(--theme-color) 100%);
    background: linear-gradient(to right, var(--theme-color-light) 0%, var(--theme-color) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25a5e4', endColorstr='#014cb1',GradientType=1 );
}
.alert-messages .alert:first-child { margin-top: 50px; }
.alert-messages .alert:last-child { margin-bottom: 50px; }
form .form-group { margin-bottom: 30px; }
form label.required::after { content: ' *'; font-weight: bold; color: red; }
form .form-group label + input.custom-input-theme { display: block; }
form .form-group input.custom-input-theme {
    border: none;
    border-bottom: 2px solid #ced4da;
    padding: 6px 12px;
    color: #495057;
    height: 30px;
    margin: auto;
    background-color: transparent;
    transition: border-bottom-color 200ms ease-in-out, background-color 100ms ease-in-out;
}
form .form-group input.custom-input-theme:focus { border-bottom-color: var(--theme-color); background-color: white; }
form .form-group input[type=file].custom-input-theme { height: 40px; }
footer { color: white; padding: 20px 10px; }
footer .nom { font-family: 'Oswald', sans-serif; font-weight: bold; font-size: 2rem; margin-bottom: 20px; }
footer h6 { font-size: 2rem; margin-bottom: 20px; }
footer ul { padding-left: 0; list-style-type: none; font-size: 1.2rem; }
footer ul li a { color: white; transition: margin-left var(--transition-duration); }
footer ul li a:hover { color: white; margin-left: 10px; }
#back-to-top::after { font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f35b"; color: white; }
#back-to-top { width: 40px; height: 40px; background-color: var(--theme-color); border: 0; position: fixed; bottom: 50px; right: 15px; opacity: 0; transition: opacity var(--transition-duration) ease-out; }
#back-to-top.show { opacity: 1; }