#figureCreationForm form .form-group input.custom-input-theme { width: 100%; }
#figureCreationForm form .form-group select.custom-select { border-radius: 0; }
#figureCreationForm form table thead tr th { width: 50%; }
#figureCreationForm form table tbody tr td { vertical-align: middle; }
#figureCreationForm form table tbody tr td img { display: block; margin: auto; }
@media screen AND (min-width: 960px) {
    #figureCreationForm form table tbody tr td img { max-width: 50%; }
}
@media screen AND (max-width: 959px) {
    #figureCreationForm form table tbody tr td img { max-width: 100%; }
}