#figureDetailsModal .modal-body .pictures-container { overflow: auto; display: flex; }
#figureDetailsModal .modal-body .bg-darkness { background-color: rgba(0, 0, 0, 0.1); }
#figureDetailsModal .modal-body .figure-modal .img-figure-detail { display: block; margin: 0 auto; }
#figureDetailsModal .modal-body .figure-modal .img-figure-detail.rotations { margin: 40px auto 50px auto; }
#figureDetailsModal .modal-body .figure-modal .card { border-radius: 0; }
#figureDetailsModal .modal-body .figure-modal .card .card-body *:last-child { margin-bottom: 0; }
#figureDetailsModal .modal-body .pictures-figure-detail { display: table-cell; vertical-align: middle; position: relative; }
    #figureDetailsModal .modal-body .pictures-figure-detail img, #figureDetailsModal .modal-body .pictures-figure-detail iframe { margin-right: 20px; }
#figureDetailsModal .modal-body .pictures-figure-detail .pictures-figure-detail-overlay {
    display: flex;
    position: absolute;
    top: 0;
    height: 100%;
    width: calc(100% - 20px);
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    opacity: 0;
    transition: opacity 500ms ease;
}
#figureDetailsModal .modal-body .pictures-figure-detail .pictures-figure-detail-overlay:hover { opacity: 1; }
#figureDetailsModal .modal-body .pictures-figure-detail .pictures-figure-detail-overlay .btn-figure { font-size: 2rem; color: white; margin: auto; }
#figureDetailsModal .modal-body .pictures-figure-detail .pictures-figure-detail-overlay .fa-spinner { display: block; color: white; margin: auto; }
#figureDetailsModal .modal-body .pictures-figure-detail .pictures-figure-detail-overlay .btn-show-picture-figure::after { font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f06e"; }
#figureDetailsModal .modal-body .pictures-figure-detail .pictures-figure-detail-overlay .btn-delete-picture-figure::after { font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f2ed"; }
#btnCollapseFigureMediasDetail { margin-bottom: 30px; }
#btnCollapseFigureMediasDetail.collapsed { margin-bottom: 30px; }
@media screen AND (min-width: 769px) {
    #figureDetailsModal .modal-body .figure-modal .img-figure-detail { max-width: 50%; }
    #figureDetailsModal .modal-body .pictures-figure-detail img { width: 250px; cursor: pointer; }
    #figureDetailsModal .modal-body .pictures-figure-detail iframe { width: 250px; max-height: 150px; }
}
@media screen AND (max-width: 768px) {
    #figureDetailsModal .modal-body .figure-modal .img-figure-detail,
    #figureDetailsModal .modal-body .pictures-figure-detail { width: 100%; }
    #figureDetailsModal .modal-body .pictures-figure-detail img,
    #figureDetailsModal .modal-body .pictures-figure-detail iframe { height: 200px; }
}