@media screen AND (min-width: 993px) {
    #profilForm form table tbody tr td img { max-width: 50%; }
}
@media screen AND (max-width: 992px) {
    #profilForm form table tbody tr td img { max-width: 100%; }
}
#profilForm input { width: 100%; }
#profilForm input[type=email] { height: 40px; }
#profilForm form table tbody tr td { vertical-align: middle; }
#profilForm form table thead tr th { width: 50%; }
#profilForm form table tbody tr td img { display: block; margin: auto; }